{{!< layout}}

<div class="holder">
    <div class="container">
        <div class="container-left">
            <div class="holder-waring">
                <div class="icon-waring">!</div>
            </div>
        </div>
        <div class="container-right">
            <h1 >Warning</h1>
            <div class="mdl-card__supporting-text">
                <p>This Pull Request has changed after some of the approvals!</p>
                <p>Please consider waiting for re-approvals before merging it.</p>
                <br />
                <p>Outdated approvals: <strong>{{outdatedApprovers}}</strong></p>
                <p>This Pull Request has changed since the last time you've seen it.</p>
                <p>Please, validate the files difference:</p>
            </div>
        </div>
        <div class="action">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect {{approvalDiffUrlClass}}" href='{{approvalDiffUrl}}' target="_blank">
                Since your last approval
            </a>
            <br />
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect {{commentDiffUrlClass}}" href='{{commentDiffUrl}}' target="_blank">
                Since your last comment
            </a>
        </div>
    </div>
</div>