.holder {
    height: 250px;
}
h1 {
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    color: #737373;
    font-size: 1.1em!important;
   font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.mdl-card__supporting-text{
    padding: 10px!important;
    width: 100%!important;
}
p{
    margin: 0;
}
.container-left{
    padding: 10px;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-waring{
    background-color: #fbaa00;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 17px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 98vw;
    display: flex;
    padding: 10px 0;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    height: auto;
    margin: 5px auto;
    border-left: 4px solid #fbaa00;
    flex-flow: wrap;
    border-radius:5px;
}

.action{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.hide {
    display: none;
}